.player {
    display: flex;
    align-items: center;
    background-color: rgb(156, 188, 151, 0.7);
    width: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid #00000052;

    span {
        font-size: 24px;
        margin-left: 16px;
    }

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 100%;
    }
}

.player-active{
    background-color: rgb(76,164,63);
}